*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6; }

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 62.5em) {
    html {
      color: pink;
      font-size: 50% !important; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content; } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1;
  color: #f9f7f6; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background: #c69963;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: background .25s; }
  .btn:hover {
    background: #B28451; }

.sidebar {
  background: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-row: 1/2;
      grid-column: 1/-1;
      align-items: center;
      justify-content: flex-end; } }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin: 0 3rem 0 0; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        transform: translateY(1rem); } }
  .nav-btn::before, .nav-btn::after {
    content: '';
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.header {
  background: #54483A;
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  justify-content: center; }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-column: 1/-1;
      padding: 5rem; } }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    font-size: 1.3rem;
    color: #f9f7f6;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__seenon-text::before {
      content: '';
      display: block;
      height: 1px;
      background: currentColor; }
    .header__seenon-text::after {
      content: '';
      display: block;
      height: 1px;
      background: currentColor; }
  .header__seenon-logoz {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center; }
    .header__seenon-logoz img {
      /*to keep all images same height uniform dont do 100% give a height*/
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); }

.realtors {
  background: #101d2c;
  grid-column: col-start 7/ full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1/-1; } }
  .realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .realtors__list {
        grid-template-columns: min-content max-content; } }
  .realtors__img {
    width: 7rem;
    border-radius: 50%;
    display: block; }
  .realtors__sold {
    color: #aaa;
    margin-top: -3px;
    text-transform: uppercase; }
  .realtors h4 {
    color: #aaa; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1/span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  background: #c69963;
  background-size: cover;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg); }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1/-1;
      padding: 6rem; } }

.story__img-1 {
  width: 100%;
  grid-column: 2/6;
  grid-row: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 50em) {
    .story__img-1 {
      grid-row: 1/-1;
      grid-column: 1/5; } }

.story__img-2 {
  width: 115%;
  grid-column: 4/7;
  grid-row: 4/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  z-index: 10; }
  @media only screen and (max-width: 50em) {
    .story__img-2 {
      grid-row: 1/-1;
      grid-column: 3/7;
      width: 100%; } }

.story__content {
  background: #f9f7f6;
  grid-column: col-start 5/ full-end;
  padding: 6rem 8vw;
  display: grid;
  align-items: center;
  justify-items: start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1/-1;
      grid-row: 5/6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 8rem; }

.homes {
  margin: 15rem 0;
  grid-column: center-start/ center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  justify-items: center; }

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__img {
    width: 100%;
    background: #f9f7f6;
    grid-column: 1/-1;
    grid-row: 1/2; }
  .home__name {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background: #101d2c;
    color: #fff;
    padding: 1.2rem;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(50%); }
  .home__like {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 2rem;
    height: 2.5rem;
    fill: #c69963;
    justify-self: end;
    margin: 1rem; }
  .home__rooms, .home__location {
    margin-top: 2.5rem; }
  .home__btn {
    grid-column: 1/-1; }
  .home__rooms, .home__like, .home__location, .home__area, .home__price {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 2rem; }
    .home__rooms svg, .home__like svg, .home__location svg, .home__area svg, .home__price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      margin-right: 2rem; }

.gallery {
  background: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-gap: 1.5rem;
  padding: 1.5rem;
  grid-template-columns: repeat(8, 1fr);
  /*this will preserve the aspect ratio of pictures width wise when size shrinks responsivly!!*/
  grid-template-rows: repeat(7, 5vw); }
  .gallery__item--1 {
    /*now you can place image where you want!! */
    grid-column: 1/span 2;
    grid-row: 1/span 2; }
  .gallery__item--2 {
    /*now you can place image where you want!! */
    grid-column: 3/span 3;
    grid-row: 1/span 3; }
  .gallery__item--3 {
    /*now you can place image where you want!! */
    grid-column: 6/7;
    grid-row: 1/span 2; }
  .gallery__item--4 {
    /*now you can place image where you want!! */
    grid-column: 7/9;
    grid-row: 1/span 2; }
  .gallery__item--5 {
    /*now you can place image where you want!! */
    grid-column: 1/3;
    grid-row: 3/span 3; }
  .gallery__item--6 {
    /*now you can place image where you want!! */
    grid-column: 3/5;
    grid-row: 4/span 2; }
  .gallery__item--7 {
    /*now you can place image where you want!! */
    grid-column: 5/6;
    grid-row: 4/5; }
  .gallery__item--8 {
    /*now you can place image where you want!! */
    grid-column: 6/8;
    grid-row: 3/span 2; }
  .gallery__item--9 {
    /*now you can place image where you want!! */
    grid-column: 8/9;
    grid-row: 3/span 3; }
  .gallery__item--10 {
    /*now you can place image where you want!! */
    grid-column: 1/2;
    grid-row: 6/span 2; }
  .gallery__item--11 {
    /*now you can place image where you want!! */
    grid-column: 2/span 2;
    grid-row: 6/span 2; }
  .gallery__item--12 {
    /*now you can place image where you want!! */
    grid-column: 4/5;
    grid-row: 6/8; }
  .gallery__item--13 {
    /*now you can place image where you want!! */
    grid-column: 5/span 3;
    grid-row: 5/span 3; }
  .gallery__item--14 {
    /*now you can place image where you want!! */
    grid-column: 8/9;
    grid-row: 6/span 2; }
  .gallery__img {
    /*You must make sure you set both width and height or object-fit will not work!!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem; }
  .footer .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center; }
    .footer .nav__link:link, .footer .nav__visited:visited {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-family: "Josefin Sans", sans-serif;
      display: block;
      padding: 1.5rem;
      transition: all .2s; }
    .footer .nav__link:hover, .footer .nav__link:active {
      background: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }
  .footer .copyright {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
    margin-top: 7rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
