// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


//media queries
$bp-largest:75em; // 1200/16 = 75em;
$bp-large:62.5em; // 1000/16 62.5em
$bp-medium:50em;
$bp-small:37.5em;



*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}


body{
    font-family: $font-primary;
    font-weight: 300;
    color:$color-grey-dark-2;
    line-height: 1.6;
  
}



*,
*::before,
::after{
    margin:0;
    padding:0;
    box-sizing: inherit;

}



html{
    font-size:62.5% ;//10/16px = 62.5% ;
    box-sizing: border-box;

 //settng the font to 50% when viewport = 1200px or 75rem   

//  @media only screen and (max-width: $bp-large){
//      font-size:50%;
//      color:pink;
//  }

@media only screen and (max-width:$bp-large){
    color:pink;
    font-size:50%!important;
}


}


body{

font-family:$font-primary;
color:$color-grey-dark-2;
font-weight:300;
line-height: 1.6;


}

.container{
    display:grid;
    grid-template-rows:80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:[sidebar-start]8rem[sidebar-end full-start] minmax(6rem,1fr) [center-start]  repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    
   @media  only screen and (max-width:$bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [ full-start] minmax(6rem,1fr) [center-start]  repeat(8, [col-start] minmax(min-content,14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
    
   
   }
   @media  only screen and (max-width:$bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content; //40vw repeat(3, min-content);
    
   }
    
}