.footer{
    background: $color-secondary;
    grid-column:full-start/full-end;
    padding:8rem;
  
   

    .nav{
        list-style: none;
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
        grid-gap: 2rem;
        align-items: center;
        &__link:link,
        &__visited:visited{
            font-size: 1.4rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-family: $font-display;
            display: block;
            padding: 1.5rem;
            transition: all .2s;
        }
        &__link:hover,&__link:active{
            background:rgba(#fff,.05);
            transform:translateY(-3px);
        }
        
    }
    .copyright{
        font-size:1.4rem;
        color:$color-grey-light-2;
        text-align:center;
        margin-top:7rem;
        width:70%;
        margin-left: auto;
        margin-right:auto;
    }

}