.gallery{
    background: $color-grey-light-1;
    grid-column:full-start/full-end;
    display: grid;
    grid-gap:1.5rem;
    padding:1.5rem;
    grid-template-columns: repeat(8,1fr);
    /*this will preserve the aspect ratio of pictures width wise when size shrinks responsivly!!*/ 
    grid-template-rows: repeat(7,5vw);
   
    &__item{
     &--1{
         /*now you can place image where you want!! */
         grid-column: 1/span 2;
         grid-row: 1/span 2;
     }
     &--2{
        /*now you can place image where you want!! */
        grid-column: 3/span 3;
        grid-row: 1/span 3;
    }
    &--3{
        /*now you can place image where you want!! */
        grid-column: 6/7;
        grid-row: 1/span 2;
    }
    &--4{
        /*now you can place image where you want!! */
        grid-column: 7/9;
        grid-row: 1/span 2;
    }
    &--5{
        /*now you can place image where you want!! */
        grid-column: 1/3;
        grid-row: 3/span 3;
    }
    &--6{
        /*now you can place image where you want!! */
        grid-column: 3/5;
        grid-row: 4/span 2;
    }
    &--7{
        /*now you can place image where you want!! */
        grid-column: 5/6;
        grid-row: 4/5;
    }
    &--8{
        /*now you can place image where you want!! */
        grid-column: 6/8;
        grid-row: 3/span 2;
    }
    &--9{
        /*now you can place image where you want!! */
        grid-column: 8/9;
        grid-row: 3/span 3;
    }
    &--10{
        /*now you can place image where you want!! */
        grid-column: 1/2;
        grid-row: 6/span 2;
    }
    &--11{
        /*now you can place image where you want!! */
        grid-column: 2/span 2;
        grid-row: 6/span 2;
    }
    &--12{
        /*now you can place image where you want!! */
        grid-column: 4/5;
        grid-row: 6/8;
    }
    &--13{
        /*now you can place image where you want!! */
        grid-column: 5/span 3;
        grid-row: 5/span 3;
    }
    &--14{
        /*now you can place image where you want!! */
        grid-column: 8/9;
        grid-row: 6/span 2;
    }
    }
    &__img {
        /*You must make sure you set both width and height or object-fit will not work!!*/ 
        width: 100%;
        height:100%;
        object-fit: cover;
        display: block;
    }

    
}