.header{
    background: $color-grey-dark-1;
    grid-column:full-start/col-end 6;
    background-image:linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    display: grid;
    grid-template-rows:1fr min-content minmax(min-content,6rem) 1fr;
    grid-template-columns: minmax(min-content,max-content);
    grid-row-gap: 1.5rem;                      
    background-size:cover;
    background-position:center;
    padding:8rem ;
    padding-top: 4rem;
    justify-content: center;
    &__logo{
       height:3rem;
       justify-self: center;

    }

    @media  only screen and (max-width:$bp-medium) {
        grid-column: 1/-1;
                
         }
    @media  only screen and (max-width:$bp-small) {
    grid-column: 1/-1;
    padding: 5rem;

        }     

    &__btn{
        align-self:start;
        justify-self: start;
      

    }
    &__seenon-text{
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        font-size:1.3rem;
        color:$color-grey-light-1;
        grid-column-gap: 1.5rem;
        align-items: center;
       

    
        &::before{
            content:'';
            display: block;
            height: 1px;
            background:currentColor;
        }
        &::after{
            content:'';
            display: block;
            height: 1px;
            background:currentColor;
        }
  
    }
    &__seenon-logoz{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
         justify-items: center;
         align-items: center;
        img{
            /*to keep all images same height uniform dont do 100% give a height*/
           max-height:2.5rem;
           max-width:100%;
            filter: brightness(70%);
    
        }
       
       }
   

}

