.homes{
    margin:15rem 0;
    grid-column: center-start/ center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:7rem;
    // grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    
}
.home{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:3.5rem;
    &__img{
        width: 100%;
        background: $color-grey-light-1;
       grid-column: 1/-1;
       grid-row:1/2;
        

    }
    &__name{
        grid-column: 1/-1;
        grid-row:1/2;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        background: $color-secondary;
        color:#fff;
        padding:1.2rem;
        font-weight: 400;

        width:80%;
        justify-self: center;
        align-self:end;
        transform: translateY(50%);
        
    }

    &__like{
       grid-column:2/3;
       grid-row:1/2;
       width:2rem;
       height:2.5rem;
       fill:$color-primary;
       justify-self: end;
       margin:1rem;
    }
    &__rooms,&__location,{
     margin-top:2.5rem;
    }
    &__btn{
        grid-column: 1/-1;
    }
    &__rooms,
    &__like,
    &__location,
    &__area,
    &__price{
        display:flex;
        align-items:center;
        font-size: 1.5rem;
        margin-left:2rem;
     svg{
       fill:$color-primary;  
       width:2rem;
       height:2rem;
       margin-right:2rem;
     }
     p{

     }
    }
}

