.story{
    
    &__pictures{
         
            background: $color-primary;
            background-size: cover;
           //dont forget below grid-column is how this is being layed out for overall container layout!!!!
            grid-column:full-start/col-end 4;
            display: grid;
            grid-template-columns:repeat(6, 1fr );     
            grid-template-rows:repeat(6, 1fr ); 
            align-items:center;
            background-image: linear-gradient(rgba($color-primary,.5), rgba($color-primary,.5)),  url(../img/back.jpg);
            @media only screen and (max-width:$bp-medium){
                grid-column:1/-1;
                padding:6rem;
            }    
        
    }  
    &__img-1{
        width:100%;
        grid-column:2/6;
        grid-row:2/6;
        box-shadow: 0  2rem 5rem rgba(#000,.1);

        @media only screen and (max-width:$bp-medium){
            grid-row:1/-1;
            grid-column: 1/5;
           
           
        } 
       

    }
    &__img-2{
        width:115%;
        grid-column:4/7;
        grid-row:4/6;
        box-shadow: 0  2rem 5rem rgba(#000,.2);
        z-index: 10;

        @media only screen and (max-width:$bp-medium){
            grid-row:1/-1;
            grid-column: 3/7;
           width:100%;
        } 

    }
    &__content{
        // display:flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: start;
       
       
        background:$color-grey-light-1;
        //dont forget below is how this is being layed out for overall container layout!!!!
        grid-column:col-start 5/ full-end;
        //start using the responsive percentage vw to take care of overflow of container!!!
        padding:6rem 8vw;
        display: grid;
        align-items: center;
        justify-items:start;
       
        @media only screen and (max-width:$bp-medium){
            grid-column:1/-1;
            grid-row:5/6;
        } 
      
      
       

   }
   &__text{
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
}
}

.mb-sm{margin-bottom: 2rem}
.mb-md{margin-bottom: 3rem}
.mb-lg{margin-bottom: 4rem}
.mb-xl{margin-bottom: 8rem}